
.custom-disclosure {
  $disclosure-size: $custom-control-indicator-size * 1;
  $disclosure-color: $gray-600;
  $disclosure-active-color: $primary;

  .custom-control-label {

    &::after {
      content: "";
      display: inline-block;
      width: 0;
      height: 0;
      top: subtract(($font-size-base * $line-height-base - $disclosure-size) * 0.5, 1px);
      left: -($custom-control-gutter + $disclosure-size * 0.5);

      @include transition(transform .15s ease-in-out, $custom-forms-transition);
    }

    &::before {
      display: none;
    }
  }

  &.custom-disclosure-left {
    .custom-control-label {
      &::after {
        border-top: $disclosure-size * 0.5 solid transparent;
        border-right: $disclosure-size * 0.5 solid $disclosure-color;
        border-bottom: $disclosure-size * 0.5 solid transparent;
      }
    }

    .custom-control-input:not(:disabled):active ~ .custom-control-label::after {
      border-right-color: $disclosure-active-color;
    }

    .custom-control-input:disabled ~ .custom-control-label::after {
      border-right-color: $custom-control-indicator-disabled-bg;
    }

    .custom-control-input:checked ~ .custom-control-label {
      &::after {
        transform: rotate(-90deg);
      }
    }
  }

  &:not(.custom-disclosure-left) {
    .custom-control-label {
      &::after {
        border-top: $disclosure-size * 0.5 solid transparent;
        border-right: 0;
        border-bottom: $disclosure-size * 0.5 solid transparent;
        border-left: $disclosure-size * 0.5 solid $disclosure-color;
      }
    }

    .custom-control-input:not(:disabled):active ~ .custom-control-label::after {
      border-left-color: $disclosure-active-color;
    }

    .custom-control-input:disabled ~ .custom-control-label::after {
      border-left-color: $custom-control-indicator-disabled-bg;
    }

    .custom-control-input:checked ~ .custom-control-label {
      &::after {
        transform: rotate(90deg);
      }
    }
  }

}
