
.stack {
  min-height: 200px;
  display: flex;
  flex-direction: row;
  justify-content: stretch;
  align-items: stretch;
}

.track {
  flex: 1 1 100%;
  position: relative;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: stretch;

  overflow-x: scroll;
  overflow-y: hidden;
}

.panel {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 0 0 auto;

  overflow-y: auto;
  overflow-x: hidden;
  background: $body-bg;

  z-index: 2;

  opacity: 1;
  transform: translateX(0%);

  &.open {
    transform: translateX(0%);
    opacity: 1;
  }

  &.closed {
    display: none;
    transform: translateX(-100%);
    z-index: 1;
  }

  &.closing {
    opacity: 0;
    transform: translateX(-100%);
    z-index: 1;
  }

  &.opening {
    // background: yellow;
    opacity: 1;
    transition: transform .2s ease;
    transition-property: transform, opacity;
    transform: translateX(0);
    z-index: 1;
    // animation: 1000ms linear 35s 1 normal both running easeOutBounce;
  }
}

@keyframes easeOutBounce {
  0% {
    transform: translateX(-100%);
  }

  12% {
    transform: translateX(-98.46%);
  }

  24% {
    transform: translateX(-99.34%);
  }

  36% {
    transform: translateX(-93.75%);
  }

  54% {
    transform: translateX(-98.37%);
  }

  74% {
    transform: translateX(-75.02%);
  }

  82% {
    transform: translateX(-98.01%);
  }

  92% {
    transform: translateX(-43.56%);
  }

  96% {
    transform: translateX(-10.89%);
  }

  100% {
    transform: translateX(-100%);
  }

}

.button.button {
  display: flex;
  align-items: center;
  padding: 0;
  cursor: pointer;
  color: inherit;
  text-align: inherit;
  margin-top: 0;

  .inner {
    flex: 1 1 auto;
    border-right: $btn-border-width solid $input-border-color;
    padding: $btn-padding-x $btn-padding-x;
  }

  .arrow {
    opacity: 0.5;
    color: $input-plaintext-color;
    svg { @include svg(); }
    flex: 0 1 auto;
    display: flex;
    padding: 2px;
  }
}

.header {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.panel-flat {
  margin: 5px 0 5px 5px;
  padding: 1em;
  background: $gray-100;

  .header {
    margin: -1em -1em 1em -1em;
    background-color: $gray-400;
    padding: 0.25em 0.5em;
  }
}

.panel-floating {
  margin: 5px 0 5px 5px;
  padding: 10px;
  box-shadow: 0 1px 3px rgba(black, 0.5);
  color: $body-color;

  .header {
    color: $body-color;
    text-shadow: 0 1px 2px rgba(black, 0.25);
  }
}

