
@import '../button/variables';

$badge-font-size:                   .75em !default;
$badge-font-weight:                 $font-weight-bold !default;
$badge-color:                       white !default;
$badge-padding-y:                   .35em !default;
$badge-padding-x:                   .65em !default;
$badge-border-radius:               $border-radius !default;

.badge {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  padding: $badge-padding-y $badge-padding-x;
  @include font-size($badge-font-size);
  font-weight: $badge-font-weight;
  line-height: 1;
  color: $badge-color;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  @include border-radius($badge-border-radius);
  @include gradient-bg();

  @at-root a#{&} {
    &:hover, &:focus {
      text-decoration: none;
    }
  }

  // Empty badges collapse automatically
  &:empty {
    display: none;
  }

  &.disabled {
    opacity: $btn-disabled-opacity;
  }

  .close {
    float: none;
    font-size: 1em;
    width: 1em;
    margin: 0 (-$badge-padding-x * 0.25) 0 ($badge-padding-x * 0.5);
    color: white;
    text-shadow: 0 1px 0 black;

    &:not(:disabled):not(.disabled) {
      &:hover, &:focus {
        opacity: 0.5;
        background: white;
        color: rgba(black, 0.7);
        text-shadow: 0 1px 0 white;
      }
    }
  }

}

// Quick fix for badges in buttons
.btn .badge {
  position: relative;
  top: -1px;
}
