
.popper {
  z-index:100000;
  padding: 3px 10px 0;
}

.kalendae {
  box-shadow:0 1px 3px rgba(0,0,0,0.75);
  margin: 0;
}

.root.form-control {
  position: relative;

  display: flex;
  justify-content: stretch;
  align-items: stretch;

  padding-left: 0;

  input {
    text-align: center;

    &:-moz-focusring {
      color: transparent;
      text-shadow: 0 0 0 $input-color;
    }

    // Customize the `:focus` state to imitate native WebKit styles.
    &:focus {
      color: inherit;
      background-color: transparent;
      border: 0;
      outline: 0;
    }
  }
}

.input-wrap {
  flex: 1 1 auto;
  display: flex;
  justify-content: stretch;
  align-items: stretch;

  position: relative;

  input {
    flex: 1 1 100%;
  }

  .invalid {
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    height: 4px;

    &::after, &::before {
        content: '';
        position: absolute;
        /* Cuts off the bottom half of the pattern */
        height: 20px;
        /* For better cross browser consistency, make it larger with width.  */
        width: 1000%;
        /* And then scale it back down with scale, recentering with translateX. */
        transform: translateX(-45%) scale(0.1);

        top: -160%;

        background-size: 40px 40px;
    }

    &::after {
        background-image: linear-gradient(45deg, transparent, transparent 49%, red 49%, transparent 51%);
    }
    &::before {
        background-image: linear-gradient(-45deg, transparent, transparent 49%, red 49%, transparent 51%);
    }
  }
}

.mode-range {
  .input-wrap input { text-align: right; }
  .input-wrap ~ .input-wrap input { text-align: left; }

  .input-wrap .invalid { right: 0; }
  .input-wrap ~ .input-wrap .invalid { left: 0; right: 20px; }
}

.multiple-container {
  flex: 1 1 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;

  font-size: 0.8em;
  padding-left: 3px;

  .badge {
    margin: 2px 4px 2px 0;
    font-size: inherit;
    cursor: default;
  }

  .input-wrap {
    flex: 0 0 0;
    width: 0;
    opacity: 0;
    padding: $badge-padding-y $badge-padding-x;
    margin: 2px 4px 2px 0;

    input {
      font-size: inherit;
      padding: 3px 0;
      text-align: left;
      width: 100%;
    }

    .invalid { left: 0; }
  }
}

.root.focus .multiple-container {
  .input-wrap {
    min-width: 14ch;
    flex: 1 1 auto;

    opacity: 1;

    input {
      flex: 1 1 100%;
    }
  }
}

.icon {
  flex: 0 0 $input-height;

  border-right: $input-border-width solid $input-border-color;
  margin-right: 4px;

  color: $input-color;
  z-index: 5;

  display: flex;
  align-items: center;
  justify-content: center;

  svg { @include svg(1em); }
}

.dirty {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 30px;

  cursor: pointer;

  color: $danger;
  z-index: 5;

  display: flex;
  align-items: center;
  justify-content: center;

  svg { @include svg(20px); }
}

.emdash {
  margin: 0 1ch;
}
