
$sort-arrow-width:               18px !default;
$sort-arrow-height:              $sort-arrow-width * 0.5 !default;
$sort-arrow-color:               white !default;
$sort-arrow-outer-color:         fade-in(rgba(black, .2), .05) !default;

$tab-active: $gray-100;
$tab-inactive: $gray-500;
$tab-inactive-hover: $gray-600;

$cell-border-vertical: $gray-150;
$cell-border-horizontal: $gray-250;
$cell-hover-bg: $gray-050;

.datatable {
  color: $body-color;

  abbr {
    text-decoration: none;
  }
}

.table {
  display: grid;
  grid-auto-rows: minmax(33px, auto);
  font-size: 13px;
  font-family: $font-family-body;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;

  svg {
    @include svg;
    font-size: 14px;
  }
}


.thead {
  position: relative;
  background-color: $tab-inactive;
  color: color-contrast($tab-inactive);
  border-bottom: 1px solid $gray-450;
  // border-top: 1px solid $gray-450;
  grid-row-start: 1;
  grid-row-end: 1;
  cursor: pointer;

  .wrapper {
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;

    border-bottom: 2px solid transparent;
  }

  .arrow {
    position: absolute;
    display: block;
    width: $sort-arrow-width;
    height: $sort-arrow-height;
    margin: 0;

    &::before,
    &::after {
      position: absolute;
      display: block;
      content: "";
      border-color: transparent;
      border-style: solid;
    }
  }

  &.active {
    background-color: $tab-active;
    color: $body-color;

    > .arrow {
      top: -1px;
      left: subtract(50%, $sort-arrow-width * 0.5);

      &::before {
        top: 1px;
        border-width: $sort-arrow-height ($sort-arrow-width * 0.5) 0;
        border-top-color: $sort-arrow-outer-color;
      }

      &::after {
        top: 0;
        border-width: $sort-arrow-height ($sort-arrow-width * 0.5) 0;
        border-top-color: $sort-arrow-color;
      }
    }
  }

  &.active.descending {
    // &, .wrapper {
    //   border-bottom-color: adjust-hue($primary, 180deg);
    // }

    > .arrow {
      top: unset;
      bottom: -1px;
      left: subtract(50%, $sort-arrow-width * 0.5);

      &::before {
        top: unset;
        bottom: 1px;
        border-width: 0 ($sort-arrow-width * 0.5) $sort-arrow-height ($sort-arrow-width * 0.5);
        border-bottom-color: $sort-arrow-outer-color;
      }

      &::after {
        top: unset;
        bottom: 0;
        border-width: 0 ($sort-arrow-width * 0.5) $sort-arrow-height ($sort-arrow-width * 0.5);
        border-bottom-color: $sort-arrow-color;
      }
    }
  }

  &:not(.active):hover {
    background-color: $tab-inactive-hover;
  }

}


.tbody {
  background-color: white;
  border-bottom: 1px solid $cell-border-horizontal;
  border-right: 1px solid $cell-border-vertical;
  color: inherit;

  &:hover { text-decoration: none; }

  &.hover {
    background-color: $cell-hover-bg;
  }

  &.lastRow {
    border-bottom: none;
  }

  &.lastColumn {
    border-right: none;
  }

  .wrapper {
    width: 100%;
    height: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(5px, 1fr));
    justify-items: stretch;
    justify-content: center;
    align-items: center;
  }

  .inner {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;

    padding: $table-cell-padding;
  }

  .inner.no-pad {
    padding: 0;
  }

  .inner.fill {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .inner.left {
    justify-content: flex-start;
    text-align: left;
  }

  .inner.right {
    justify-content: flex-start;
    text-align: right;
  }
}

