
$white: white;
$black: black;
$background: #080d13;

$surface-1: #131e2a;
$surface-2: #1b2a3a;
$surface-3: #203146;
$surface-4: #243850;
$surface-5: #2A405B;
$surface-6: #2E4764;
$surface-7: #39587b;

$gray-000: #f8f9fa;
$gray-050: #eff0f2;
$gray-100: #e5e8ea;
$gray-150: #d3d7db;
$gray-200: #c9ced4;
$gray-250: #b6bdc5;
$gray-300: #adb5bd;
$gray-350: #a4adb5;
$gray-400: #919ca6;
$gray-450: #7e8b97;
$gray-500: #758290;
$gray-550: #65717d;
$gray-600: #5d6974;
$gray-650: #4e5861;
$gray-700: #474f58;
$gray-750: #373e45;
$gray-800: #30363b;
$gray-850: #212529;
$gray-900: #191c1f;
$gray-950: #0a0b0c;
$gray-999: #020303;

$grays: (
  '000': $gray-000,
  '050': $gray-050,
  '100': $gray-100,
  '150': $gray-150,
  '200': $gray-200,
  '250': $gray-250,
  '300': $gray-300,
  '350': $gray-350,
  '400': $gray-400,
  '450': $gray-450,
  '500': $gray-500,
  '550': $gray-550,
  '600': $gray-600,
  '650': $gray-650,
  '700': $gray-700,
  '750': $gray-750,
  '800': $gray-800,
  '850': $gray-850,
  '900': $gray-900,
  '950': $gray-950,
  '999': $gray-999,
);

$brand-050:  #3a005f;
$brand-100:  #4200ba;
$brand-200:  #5a00c2;
$brand-250:  #4e0081;
$brand-300:  #590092;
$brand-350:  #6800c8;
$brand-400:  #6c00b4;
$brand-450:  #7600d0;
$brand-500:  #8200d6;
$brand-600:  #9540dd;
$brand-700:  #ac2cff;
$brand-750:  #b94eff;
$brand-800:  #c196eb;
$brand-850:  #c770ff;
$brand-900:  #dac0f3;
$brand-950:  #f1e5fa;

$primary-300: #0071C3;
$primary-500: #0190F8;
$primary-700: #33A8FF;

$secondary-300: #1500d6;
$secondary-500: #5c1bea;
$secondary-700: #b596f4;

$accent-300: #a800ad;
$accent-500: #d600c1;
$accent-700: #e989da;

$info-300: #E39808;
$info-500: #F1AD2E;
$info-700: #FAC661;

$success-300: #198F58;
$success-500: #20BA72;
$success-700: #35DF90;

$warning-300: #bf4d00;
$warning-500: #d68000;
$warning-700: #e3ab4a;

$danger-100: #9f2912;
$danger-300: #D72F10;
$danger-500: #E84E2F;
$danger-700: #F47961;

$muted: $gray-600;

$brand:     $brand-500;
$primary:   $primary-500;
$secondary: $secondary-500;
$success:   $success-500;
$info:      $info-500;
$warning:   $warning-500;
$danger:    $danger-500;
$accent:    $accent-500;

$theme-colors: (
  "brand":      $brand-500,
  "accent":     $accent-500,
  "primary":    $primary-500,
  "secondary":  $secondary-500,
  "success":    $success-500,
  "info":       $info-500,
  "warning":    $warning-500,
  "danger":     $danger-500,
);

$theme-colors-rgb: map-loop($theme-colors, to-rgb, "$value") !default;


$body-color: $gray-950;

// The contrast ratio to reach against white, to determine if color changes from "light" to "dark". Acceptable values for WCAG 2.0 are 3, 4.5 and 7.
// See https://www.w3.org/TR/WCAG20/#visual-audio-contrast-contrast
$min-contrast-ratio:   4.5 !default;

// Customize the light and dark text colors for use in our color contrast function.
$color-contrast-dark:      $gray-950;
$color-contrast-light:     $gray-000;

$font-size-root: 14px;
$font-size-h1: 5.5rem;
$font-size-h2: 4.3rem;
$font-size-h3: 3.4rem;
$font-size-h4: 2.4rem;
$font-size-h5: 1.7rem;
$font-size-h6: 1.4rem;
$font-size-body1: 1.14rem;
$font-size-body2: 1rem;
$font-size-sub1: 0.85rem;
$font-size-sub2: 0.71rem;
$font-size-large: 1.3em;
$font-size-small: 0.85em;
$font-size-code: 1rem;
$font-size-sub-sup: .75em;
$font-size-base: $font-size-root;

$font-family-brand:       Lobster, Georgia, 'Times New Roman', Times, Times, serif;
$font-family-heading:     Montserrat, Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-body:        "Open Sans", Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-monospace:   "Cousine", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$font-family-ui:          Roboto, Arial, sans-serif;
$font-family-base:        $font-family-body;

$fonts: (
  brand: $font-family-brand,
  heading: $font-family-heading,
  body: $font-family-body,
  monospace: $font-family-monospace,
  ui: $font-family-ui,
  base: $font-family-base,
);

$font-weight-thin:     100;
$font-weight-lighter:  200;
$font-weight-light:    300;
$font-weight-regular:  400;
$font-weight-medium:   500;
$font-weight-semibold: 600;
$font-weight-bold:     700;
$font-weight-bolder:   800;

$line-height-small:    1.25;
$line-height-regular:  1.5;
$line-height-large:    2;
$line-height-base: $line-height-regular;

$zindex-sticky:                     1020;
$zindex-fixed:                      1030;
$zindex-drawer:                     1200;
$zindex-modal-backdrop:             1290;
$zindex-modal:                      1300;
$zindex-popover:                    1400;
$zindex-dropdown:                   1450;
$zindex-tooltip:                    1500;

$link-color:                              $primary !default;
$link-decoration:                         underline !default;
$link-shade-percentage:                   20% !default;
$link-hover-color:                        shift-color($link-color, $link-shade-percentage) !default;
$link-hover-decoration:                   null !default;

$stretched-link-pseudo-element:           after !default;
$stretched-link-z-index:                  1 !default;

// Paragraphs
//
// Style p element.

$paragraph-margin-bottom:   1rem !default;


// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
) !default;

$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1140px,
  xxl: 1320px
) !default;


// Gradient
//
$gradient: linear-gradient(180deg, rgba(white, .15), rgba(white, 0)) !default;

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.
// You can add more entries to the $spacers map, should you need more variation.

$spacer: 1rem;
$spacers: (
  -3: $spacer * .125,
  -2: $spacer * .25,
  -1: $spacer * .5,
  0: $spacer,
  1: $spacer * 1.5,
  2: $spacer * 2,
  3: $spacer * 3,
);

$negative-spacers: negativify-map($spacers);


@function spacer ($size: 0) {
  @return map-get($spacers, $size);
}

$border-color:                $gray-300 !default;
$border-width:                1px !default;

$border-radius:               .25rem !default;
$border-radius-sm:            .2rem !default;
$border-radius-lg:            .3rem !default;
$border-radius-pill:          50rem !default;

$component-active-color:      white !default;
$component-active-bg:         $primary !default;

$caret-width:                 .3em !default;
$caret-vertical-align:        $caret-width * .85 !default;
$caret-spacing:               $caret-width * .85 !default;

$transition-base:             all .2s ease-in-out !default;
$transition-fade:             opacity .15s linear !default;

$transition-collapse:         height .35s ease !default;
$transition-collapse-width:   width .35s ease !default;

$box-shadow:                  0 .5rem 1rem rgba(black, .15) !default;
$box-shadow-sm:               0 .125rem .25rem rgba(black, .075) !default;
$box-shadow-lg:               0 1rem 3rem rgba(black, .175) !default;
$box-shadow-inset:            inset 0 1px 2px rgba(black, .075) !default;

$hr-margin-y:                 $spacer !default;
$hr-color:                    inherit !default;
$hr-height:                   $border-width !default;
$hr-opacity:                  .25 !default;


// Tables
//
// Customizes the `.table` component with basic values, each used across all table variations.

// scss-docs-start table-variables
$table-cell-padding:          .5rem;
$table-cell-padding-y:        .5rem !default;
$table-cell-padding-x:        .5rem !default;
$table-cell-padding-y-sm:     .25rem !default;
$table-cell-padding-x-sm:     .25rem !default;

$table-cell-vertical-align:   top !default;

$table-color:                 $body-color !default;
$table-bg:                    transparent !default;
$table-accent-bg:             transparent !default;

$table-th-font-weight:        null !default;

$table-striped-color:         $table-color !default;
$table-striped-bg-factor:     .05 !default;
$table-striped-bg:            rgba(black, $table-striped-bg-factor) !default;

$table-active-color:          $table-color !default;
$table-active-bg-factor:      .1 !default;
$table-active-bg:             rgba(black, $table-active-bg-factor) !default;

$table-hover-color:           $table-color !default;
$table-hover-bg-factor:       .075 !default;
$table-hover-bg:              rgba(black, $table-hover-bg-factor) !default;

$table-border-factor:         .1 !default;
$table-border-width:          $border-width !default;
$table-border-color:          $border-color !default;

$table-striped-order:         odd !default;

$table-group-separator-color: currentColor !default;

$table-caption-color:         $muted !default;

$table-bg-scale:              -80% !default;
// scss-docs-end table-variables

// scss-docs-start table-loop
$table-variants: (
  "brand":      shift-color($brand, $table-bg-scale),
  "accent":     shift-color($accent, $table-bg-scale),
  "primary":    shift-color($primary, $table-bg-scale),
  "secondary":  shift-color($secondary, $table-bg-scale),
  "success":    shift-color($success, $table-bg-scale),
  "info":       shift-color($info, $table-bg-scale),
  "warning":    shift-color($warning, $table-bg-scale),
  "danger":     shift-color($danger, $table-bg-scale),
) !default;
// scss-docs-end table-loop

// Popovers

// scss-docs-start popover-variables
$popover-font-size:                 $font-size-small !default;
$popover-bg:                        $white !default;
$popover-max-width:                 276px !default;
$popover-border-width:              $border-width !default;
$popover-border-color:              rgba($black, .2) !default;
$popover-border-radius:             $border-radius-lg !default;
$popover-inner-border-radius:       subtract($popover-border-radius, $popover-border-width) !default;
$popover-box-shadow:                $box-shadow !default;

$popover-header-bg:                 shade-color($popover-bg, 6%) !default;
$popover-header-color:              $body-color !default;
$popover-header-padding-y:          .5rem !default;
$popover-header-padding-x:          $spacer !default;

$popover-body-color:                $body-color !default;
$popover-body-padding-y:            $spacer !default;
$popover-body-padding-x:            $spacer !default;

$popover-arrow-width:               1rem !default;
$popover-arrow-height:              .5rem !default;
$popover-arrow-color:               $popover-bg !default;

$popover-arrow-outer-color:         fade-in($popover-border-color, .05) !default;
// scss-docs-end popover-variables
