
.address {
  position: relative;
  display: flex;
  flex-wrap: wrap;

  > * {
    white-space: nowrap;
  }
}

.address-street {
  flex: 1 0 100%;
}

.address-city {
  &::after {
    content: ',';
    margin-right: 2ch;
  }
}

.address-state {
  margin-right: 2ch;
}

// .address-zip {

// }
