
.disclosure {

  display: inline-flex;
  width: 1.5em;
  height: 1.5em;
  align-items: center;
  justify-content: center;

  svg {
    @include svg(1.5em);
    @include transition(transform .15s ease-in-out, $custom-forms-transition);
    vertical-align: top;
  }

  &.left.active.quarter svg  { transform: rotate(-90deg); }
  &.left.active.half svg     { transform: rotate(-180deg); }
  &.left.active.full svg     { transform: rotate(-360deg); }

  &.right.active.quarter svg { transform: rotate(90deg); }
  &.right.active.half svg    { transform: rotate(180deg); }
  &.right.active.full svg    { transform: rotate(360deg); }

  cursor: pointer;
}
