
@import '../modal/variables';

.lightbox-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  // allow clicks to pass through for custom click handling to close modal
  pointer-events: none;

  display: flex;
  align-items: center;
  justify-content: center;

  // When fading in the modal, animate it to slide down
  .lightbox.fade & {
    @include transition($modal-transition);
    transform: $modal-fade-transform;
  }
  .lightbox.show & {
    transform: $modal-show-transform;
  }

  // When trying to close, animate focus to scale
  .lightbox.static & {
    transform: $modal-scale-transform;
  }
}

.lightbox-content {

  > img {
    max-width: 90vw;
    max-height: 95vh;
    height:auto;

    border: 1px solid white;
    @include box-shadow($modal-content-box-shadow-xs);
    @include media-breakpoint-up(sm) {
      @include box-shadow($modal-content-box-shadow-sm-up);
    }
  }

  &.not-loaded img {
    position: absolute;
    left: 9000;
    top: 9000;
    z-index: -1;
    opacity: 0;
  }
}

.lightbox-prev, .lightbox-next, .spinner {
  color: white;

  text-shadow: $modal-content-box-shadow-xs;
  @include media-breakpoint-up(sm) {
    text-shadow: $modal-content-box-shadow-sm-up;
  }
}

.lightbox-prev, .lightbox-next {
  pointer-events: auto;
  position: absolute;

  svg { @include svg(1em); }

  width: 5vw;
  font-size: 40px;

  cursor: pointer;

  display: flex;
  justify-content: center;

  &:hover {
    color: $primary;
  }
}

.lightbox-prev { left: 0; }
.lightbox-next { right: 0; }

.close.close {
  position: absolute;
  top: 1rem;
  right: 1rem;

  pointer-events: auto;

  @include box-shadow($modal-content-box-shadow-xs);
  @include media-breakpoint-up(sm) {
    @include box-shadow($modal-content-box-shadow-sm-up);
  }
}
