

.collapse {
  &:not(.show) {
    display: none;
  }
}

.flex {
  @include transition(flex-basis .35s ease-out);
}

.height {
  @include transition(height .35s ease-out);
}

.width {
  @include transition(width .35s ease-out);
}

.collapsing {
  position: relative;
  overflow: hidden;

  &.flex {
    flex-basis: 0;
  }

  &.height {
    height: 0;
  }

  &.width {
    width: 0;
  }
}
