//
// Fading blades
//

.spinner-blades {
  display: inline-block;
  position: relative;
  vertical-align: text-bottom;
  font-size: $spinner-size * .95;
  width: $spinner-size;
  height: $spinner-size;
}

.spinner-blades-sm {
  font-size: $spinner-size-sm * .95;
  width: $spinner-size-sm;
  height: $spinner-size-sm;
}

.spinner-blades-lg {
  font-size: $spinner-size-lg * .95;
  width: $spinner-size-lg;
  height: $spinner-size-lg;
}

.spinner-blades-xl {
  font-size: $spinner-size-xl * .95;
  width: $spinner-size-xl;
  height: $spinner-size-xl;
}

.spinner-blades * {
  position: absolute;
  left: .4629em;
  bottom: 0;
  width: .074em;
  height: .2777em;
  border-radius: .5em;
  background-color: currentColor;
  transform-origin: center -.2222em;
  animation: spinner-blades 1s infinite linear;

  $animation-delay: 0s;
  $blade-rotation: 0deg;

  @for $i from 1 through 12 {
    &:nth-child(#{$i}) {
      animation-delay: $animation-delay;
      transform: rotate($blade-rotation);
      $blade-rotation: $blade-rotation + 30;
      $animation-delay: $animation-delay + .083;
    }
  }
}

@keyframes spinner-blades {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
