
.checkbox {
  display: inline-flex;
  cursor: pointer;
  align-items: center;
}

.box {
  display: inline-flex;
  width: 1.2em;
  height: 1.2em;
  align-items: center;
  justify-content: center;

  @include transition(color .15s ease-in-out);

  svg {
    @include svg(1.2em);
    vertical-align: top;
  }

  color: $custom-control-indicator-border-color;
  .checkbox.disabled & { color: $custom-control-indicator-disabled-bg; }
  .checkbox.checked & { color: $custom-control-indicator-checked-bg; }
  .checkbox.checked.disabled & { color: $custom-control-indicator-checked-disabled-bg; }
  .checkbox:not(.disabled).active & { color: $custom-control-indicator-active-bg; }

  @each $color-name, $color-value in $theme-colors {
    .checkbox.checkbox-#{$color-name} & {
      .checkbox.disabled.checked & { color: rgba($color-value, .4); }
      .checkbox.checked & { color: $color-value; }
    }
  }

  // Remove select outline from select box in FF
  &:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 $input-color;
  }

  // Customize the `:focus` state to imitate native WebKit styles.
  &:focus, &:focus-within {
    border: 1px solid $input-focus-border-color;
    border-radius: 2px;
    outline: none;
    box-shadow: $input-box-shadow, $custom-control-indicator-focus-box-shadow;
  }

}

.box + .label,
.label + .box {
  margin-left: 0.5ch;
}
