
.root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.test-pattern {
  min-height: 100vh;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="4" height="5"><rect x="1" y="1" width="2" height="2" fill="white"></rect><rect x="0" y="0" width="2" height="2" fill="black"></rect></svg>');
}
