
$kalendae-background: $input-bg !default;
$kalendae-outer-padding: 10px !default;
$kalendae-title-height: 1.15em !default;

$kalendae-title-color: $gray-900;
$kalendae-header-color: $gray-500 !default;

$kalendae-nav-enabled-color: #777 !default;
$kalendae-nav-disabled-color: $gray-200 !default;
$kalendae-nav-hover-month-color: #7EA0E2 !default;
$kalendae-nav-hover-year-color: #6FDF81 !default;

$kalendae-day-radius: 4px !default;

$kalendae-day-outofmonth-color: $gray-300 !default;
$kalendae-day-inmonth-color: $gray-800 !default;

$kalendae-day-inmonth-hover-background: $info !default;
$kalendae-day-inmonth-hover-color: color-yiq($kalendae-day-inmonth-hover-background) !default;
$kalendae-day-outofmonth-hover-background: rgba($kalendae-day-inmonth-hover-background, 0.5) !default;
$kalendae-day-outofmonth-hover-color: rgba($kalendae-day-inmonth-hover-background, 0.5) !default;

$kalendae-selected-background: $primary !default;
$kalendae-selected-color: color-yiq($kalendae-selected-background) !default;
$kalendae-selected-outofmonth-border: rgba($kalendae-selected-background, 0.5) !default;

$kalendae-selected-range-background: lighten($kalendae-selected-background, 15%) !default;
$kalendae-selected-range-color: color-yiq($kalendae-selected-range-background) !default;
$kalendae-selected-range-outofmonth-border: rgba($kalendae-selected-range-background, 0.5) !default;

$kalendae-cell-width: 36px;
$kalendae-cell-height: 28px;

$today-line-position: floor($kalendae-cell-height * 0.15);

.kalendae {
  position:relative;
  display: flex;
  justify-content: center;

  background: $kalendae-background;

  padding: $kalendae-outer-padding;
  margin: 4px;
  border-radius:5px;
  font-size: 1rem;
  font-family: $font-family-base;

  cursor:default;
  user-select: none;

  &, * {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}


/** Popup Container for Kalendae.Input **/
.k-floating {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100000;
  margin: 0;
  box-shadow:0 1px 3px rgba(0,0,0,0.75);
}

.k-calendar-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($kalendae-cell-width * 7, 1fr));
  grid-gap: 2em;
  flex: 1 1 auto;
}

.k-calendar-grid-by-1 { grid-template-columns: 1fr; }
.k-calendar-grid-by-2 { grid-template-columns: repeat(2, 1fr); }
.k-calendar-grid-by-3 { grid-template-columns: repeat(3, 1fr); }
.k-calendar-grid-by-4 { grid-template-columns: repeat(4, 1fr); }
.k-calendar-grid-by-6 { grid-template-columns: repeat(6, 1fr); }

.k-calendar {
  position: relative;
  display: flex;
  flex-direction: column;
  padding-bottom: 4px;

  &.k-has-divider::before {
    position: absolute;
    top: 0;
    left: -1em;
    display: block;
    width: 0;
    height: 100%;
    pointer-events: none;
    content: "";
    border: 0;
    border-left: $hr-border-width solid $hr-border-color;
  }
}


.k-title {
  flex: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $kalendae-title-height;
  line-height: 1;
  font-weight: 500;

  color: $kalendae-title-color;
  margin-bottom: $kalendae-cell-height * 0.25;

  * {
    margin: 0 0.5ch;
  }
}

.k-day-grid {
  display: grid;
  grid-template-columns: repeat(7, $kalendae-cell-width);
  grid-auto-rows: $kalendae-cell-height;
  grid-gap: 6px 0;
  justify-content: center;

  flex: 1 1 auto;

  color: $gray-500;
}

.k-header {
  display: flex;
  justify-content: center;
  align-items: center;

  line-height: 1;
  font-size: .875em;
  font-weight: 600;
  color: $kalendae-header-color;

  abbr {
    height: 1em;
    flex: 0 0 2ch;
    text-align: center;
    text-decoration: none;
  }
}

.k-header.k-active {
  cursor: pointer;
  border-radius:3px;
}

.k-day {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  line-height:1;
  border-radius: $kalendae-day-radius;
  // border: 1px solid transparent;

  span {
    height: 1em;
    flex: 0 0 2ch;
    text-align: right;
  }
}

.k-today {

  em {
    position: absolute;
    bottom: $today-line-position;
    left: 20%;
    right: 20%;
    height: 0;

    border-bottom: 2px solid currentColor;
  }

  // z-index: 5;
  // font-weight: 800;

  // span {
  //   display: inline-block;
  //   border-bottom: 2px solid currentColor;
  //   padding-bottom: 3px;
  //   margin-bottom: -3px;
  //   height: calc(1em + 3px);
  // }

  // &.k-day-unselected {
  //   box-shadow: 0 1px 2px rgba(black, 0.5);
  //   margin: 0 3px;
  // }

  // &.k-day-selected {
  //   box-shadow: 0 1.5px 2px rgba(0, 0, 0, 0.75);
  //   margin: -2px 0 -1px;
  //   border-radius: 4px;
  // }
}

.k-day-in-month.k-active {
  color: $kalendae-day-inmonth-color;
}

.k-day-out-of-month {
  color: $kalendae-day-outofmonth-color;

  &.k-active:hover {
    color: $kalendae-day-outofmonth-hover-color;
  }
}

.k-active {
  cursor:pointer;

  @include hover() {
    background: rgba(theme-color("info"), .5);
  }
}

.k-disabled {
  opacity: 0.5;
}


.k-day-selected.k-day-in-month {
  background: $kalendae-selected-background;
  color: $kalendae-selected-color;

  &.k-range {
    background: $kalendae-selected-range-background;
    color: $kalendae-selected-range-color;
  }
}

.k-day-selected.k-day-out-of-month {
  border-style: solid;
  border-color: $kalendae-selected-outofmonth-border;
  border-width: 1px;

  &.k-range {
    border-width: 1px 0;
  }

  &.k-range-start {
    border-width: 1px 0 1px 1px;
  }

  &.k-range-end {
    border-width: 1px 1px 1px 0;
  }

  &.k-range,
  &.k-range-start,
  &.k-range-end {
    border-color: $kalendae-selected-range-outofmonth-border;
  }
}

.k-range,
.k-range-start,
.k-range-end {
  border-radius: 0;
}

.k-range-start {
  @include border-left-radius($kalendae-cell-height * 0.5);
}

.k-range-end {
  @include border-right-radius($kalendae-cell-height * 0.5);
}

@keyframes ants { to { background-position: 100% 100% } }

.k-day-selected.k-range-selecting,
.k-day-selected.k-day-out-of-month.k-range-selecting {
  border: 1px solid transparent;
  background: linear-gradient(white, white) padding-box,
              repeating-linear-gradient(-45deg, black 0, black 25%, transparent 0, transparent 50%) 0 / .6em .6em;
  animation: ants 3s linear infinite;

  &.k-day-in-month {
    color: $kalendae-day-inmonth-color;
  }
  &.k-day-out-of-month {
    color: $kalendae-day-outofmonth-color;
  }
}


.k-nav-left,
.k-nav-right {
  display: flex;
  align-items: center;
}

.k-nav-left {
  position: absolute;
  top: $kalendae-outer-padding;
  left: $kalendae-outer-padding;
}

.k-nav-right {
  position: absolute;
  top: $kalendae-outer-padding;
  right: $kalendae-outer-padding;
}


.k-btn-previous-month,
.k-btn-next-month,
.k-btn-previous-year,
.k-btn-next-year {
  width: 1ch;
  height: 23px;
  position: relative;
  top: -3px;
  font-size:32px;
  line-height: 18px;
  font-weight: bold;
  font-family: arial, sans-serif;
  text-decoration:none;
  text-align: center;

  &:not(.k-disabled) {
    color: $kalendae-nav-enabled-color;
    cursor: pointer;
  }

  &.k-disabled {
    color: $kalendae-nav-disabled-color;
  }
}

.k-btn-previous-month:after {content:"\2039";}
.k-btn-next-month:after     {content:"\203A";}
.k-btn-previous-year:after  {content:"\00AB";}
.k-btn-next-year:after      {content:"\00BB";}

.k-btn-previous-month:not(.k-disabled):hover,
.k-btn-next-month:not(.k-disabled):hover {
  color: $kalendae-nav-hover-month-color;
}

.k-btn-previous-year:not(.k-disabled):hover,
.k-btn-next-year:not(.k-disabled):hover {
  color: $kalendae-nav-hover-year-color;
}
